@model DoManager.Models.LoginViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вхід - To-Do List Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Account(Login).css" />
</head>
<body>
    <div class="login-card">
        <span class="project-title">To-Do List Manager</span>
        <h2>Вхід</h2>
        <p class="sub-text">Введіть дані для входу</p>

        <form asp-action="Login" asp-controller="Account" method="post" autocomplete="on">

            <div class="input-group-custom">
                <label asp-for="Email" class="form-label">Електронна пошта</label>
                <input asp-for="Email" class="form-control-custom" placeholder="example@mail.com" autocomplete="username" />
                <span asp-validation-for="Email" class="field-validation-error"></span>
            </div>

            <div class="input-group-custom">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" id="loginPass" type="password" class="form-control-custom" placeholder="Введіть пароль" autocomplete="current-password" />
                <i class="bi bi-eye password-toggle" onclick="togglePass('loginPass', this)"></i>
                <span asp-validation-for="Password" class="field-validation-error"></span>
                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
            </div>
            
            <button type="submit" class="login-btn">Увійти</button>
            <div class="register-link">Якщо немає аккаунту? <a asp-action="Register">Зареєструватися</a></div>
        </form>
    </div>
    <script src="~/js/account-login.js"></script>
</body>
</html>